
body {
    background-color: #f5f8f8;
    background-image: url("https://mocah.org/mocahbig/411615-abstract-4K-digital-art-shapes-geometry-neon-lines.jpg");
    background-attachment:scroll;
  background-size:cover;
  
}