@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');
.abc{
font-family: 'Comforter', cursive;
font-size: 55px;
    font-weight: 800;
    color:rgb(30, 97, 42);
 text-decoration: none;
}